{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main-dashboard.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Student - OJT Management System Dashboard</title>
    <style>
        .card-container {
            display: flex;
            justify-content: center;
            padding: 0;
            gap: 11px;
        }
        .card {
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 6px;
            background-color: #fff;
            flex: 1;
        }
        .card.fixed-height {
            max-height: 400px; /* Set your desired height here */
            overflow-y: auto;
        }
        .upload-box {
            border: 2px dashed #ccc;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 216px;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background-color: #f8f9fa;
        }
        .upload-box input[type="file"] {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        .upload-box img {
            max-width: 100%;
            max-height: 100%;
            display: none;
        }
        .upload-box::before {
            content: 'Choose File';
            color: #888;
            font-size: 16px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        .time-info {
            font-weight: bold;
        }
        .log-card {
            margin-bottom: 15px;
        }
        .log-card img {
            width: 100%;
            height: auto;
        }
        .log-card .card-body {
            text-align: center;
        }
        .flex{
            display: flex;
            justify-content: space-between;
        }
        .flex p{
            margin-top: 5px;
        }
        .dropdown-menu {
            width: 350px;  /* Set a max width for the dropdown */
            word-wrap: break-word;  /* Allow long words to break */
            white-space: normal;  /* Ensure text can break into multiple lines */
        }

        .dropdown-item {
            white-space: normal;
            overflow-wrap: break-word;
            display: block;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right vh-150" id="sidebar-wrapper">
            <a href="{% url 'students:dashboard' %}" style="text-decoration: none !important; color: black !important;" class="text-center">
                <div class="sidebar-heading" style="display: flex; align-items: center; justify-content: flex-start;">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo" style="width: 50px; height: 50px; margin-right: 2px;">
                    <div style="display: flex; flex-direction: column; line-height: 1; margin-top: 2px;">
                        <span style="font-size: 18px; font-weight: 500; margin-bottom: 0;" class="text-left mb-1">On the Job</span>
                        <span style="font-size: 15px;">Management System</span>
                    </div>
                </div>
            </a>
            <div class="list-group list-group-flush">
                <a href="{% url 'students:dashboard' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'students:requirements' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tasks"></i> Requirements
                </a>
                <a href="{% url 'students:list-of-document' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Submitted Documents
                </a>
                <a href="{% url 'students:clockin' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-clock"></i> Clock In
                </a>
                <a href="{% url 'students:progress-report' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-chart-line"></i> Progress Report
                </a>
                <a data-toggle="modal" data-target="#logout" class="list-group-item list-group-item-action bg-light" style="cursor: pointer;">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure do want to leave this page</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <a href="javascript:void(0);" onclick="logout()" class="btn btn-primary">Logout</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>{{ firstName }} {{ lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'students:profile' %}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'students:changePassword' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logout">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mt-1">
                            <a class="nav-link d-flex align-items-center" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell mr-2"></i>
                                {% if unread_notifications_count > 0 %}
                                    <span class="badge badge-danger">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                                <h6 class="dropdown-header">Notifications</h6>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <form action="{% url 'students:mark_notification_as_read' notification.id %}" method="POST" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item" title="{{ notification.message }}">
                                                {{ notification.message }}
                                            </button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#">No new notifications</a>
                                {% endif %}
                            </div>
                        </li>      
                    </ul>
                </div> 
            </nav>
            <!-- Card -->
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <p class="mt-3 mb-2">
                            <a href="{% url 'students:dashboard' %}" style="cursor: pointer; text-decoration: none; color: black;">Dashboard</a> / Progress Report
                        </p>
                        <h4 class="mt-2 mb-3">Progress Report</h4>
                        <form method="post" action="{% url 'students:progress-report' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="{{ form.student_name.id_for_label }}" class="form-label" style="font-weight: 500;">Name of Student</label>
                                    <input type="text" id="{{ form.student_name.id_for_label }}" name="{{ form.student_name.name }}" class="form-control" placeholder="Enter student name" value="{{ full_name }}">
                                </div>
                                <div class="form-group col-md-3">
                                   <label for="{{ form.hte_name.id_for_label }}" class="form-label" style="font-weight: 500;">Host Training Establishment</label>
                                    <input type="text" id="{{ form.hte_name.id_for_label }}" name="{{ form.hte_name.name }}"  class="form-control" placeholder="Enter Host Training Establishmente">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="{{ form.hte_address.id_for_label }}" class="form-label" style="font-weight: 500;">Address of Host Training Establishment</label>
                                    <input type="text" id="{{ form.hte_address.id_for_label }}" name="{{ form.hte_address.name }}" class="form-control" placeholder="Enter  Host Training Establishment Address">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="{{ form.department_division.id_for_label }}" class="form-label" style="font-weight: 500;">Department Division Assigned</label>
                                    <input type="text" id="{{ form.department_division.id_for_label }}" name="{{ form.department_division.name }}" class="form-control" placeholder="Enter department division">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" style="font-weight: bold;">Internship Classification</label>
                                    {% for value, label in form.internship_classification.field.choices %}
                                        <div class="form-check">
                                            <input type="radio" id="{{ value }}" name="{{ form.internship_classification.name }}" value="{{ value }}" class="form-check-input" {% if value == form.internship_classification.value %} checked {% endif %}>
                                            <label for="{{ value }}" class="form-check-label">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" style="font-weight: bold;">Local Condition</label>
                                    {% for value, label in form.local_condition.field.choices %}
                                        <div class="form-check"> 
                                            <input type="radio" id="{{ value }}" name="{{ form.local_condition.name }}" value="{{ value }}" class="form-check-input" {% if value == form.local_condition.value %} checked {% endif %}>
                                            <label for="{{ value }}" class="form-check-label">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" style="font-weight: bold;">Internship Modality</label>
                                    {% for value, label in form.internship_modality.field.choices %}
                                        <div class="form-check">
                                            <input type="radio" id="{{ value }}" name="{{ form.internship_modality.name }}" value="{{ value }}" class="form-check-input" {% if value == form.internship_modality.value %} checked {% endif %}>
                                            <label for="{{ value }}" class="form-check-label">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" style="font-weight: bold;">Virtual Conditions</label>
                                    {% for value, label in form.virtual_conditions.field.choices %}
                                        <div class="form-check">
                                            <input type="radio" id="{{ value }}" name="{{ form.virtual_conditions.name }}" value="{{ value }}" class="form-check-input" {% if value == form.virtual_conditions.value %} checked {% endif %}>
                                            <label for="{{ value }}" class="form-check-label">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Navigation Tabs -->
                            <ul class="nav nav-tabs" id="progressReportTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="monday-tab" data-bs-toggle="tab" data-bs-target="#monday" type="button" role="tab" aria-controls="monday" aria-selected="true">Monday</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tuesday-tab" data-bs-toggle="tab" data-bs-target="#tuesday" type="button" role="tab" aria-controls="tuesday" aria-selected="false">Tuesday</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wednesday-tab" data-bs-toggle="tab" data-bs-target="#wednesday" type="button" role="tab" aria-controls="wednesday" aria-selected="false">Wednesday</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="thursday-tab" data-bs-toggle="tab" data-bs-target="#thursday" type="button" role="tab" aria-controls="thursday" aria-selected="false">Thursday</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="friday-tab" data-bs-toggle="tab" data-bs-target="#friday" type="button" role="tab" aria-controls="friday" aria-selected="false">Friday</button>
                                </li>
                            </ul>
                            <!-- Tab Content -->
                            <div class="tab-content mt-3">
                                <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="monday_date">Date</label>
                                            <input type="date" id="monday_date" name="monday_date" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="monday_description">Description</label>
                                            <textarea id="monday_description" name="monday_description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="monday_hours">Number of Hours</label>
                                            <input type="number" id="monday_hours" name="monday_hours" class="form-control" value="{{ total_work_hours }}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="tuesday_date">Date</label>
                                            <input type="date" id="tuesday_date" name="tuesday_date" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="tuesday_description">Description</label>
                                            <textarea id="tuesday_description" name="tuesday_description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="tuesday_hours">Number of Hours</label>
                                            <input type="number" id="tuesday_hours" name="tuesday_hours" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="wednesday" role="tabpanel" aria-labelledby="wednesday-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="wednesday_date">Date</label>
                                            <input type="date" id="wednesday_date" name="wednesday_date" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="wednesday_description">Description</label>
                                            <textarea id="wednesday_description" name="wednesday_description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="wednesday_hours">Number of Hours</label>
                                            <input type="number" id="wednesday_hours" name="wednesday_hours" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="thursday_date">Date</label>
                                            <input type="date" id="thursday_date" name="thursday_date" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="thursday_description">Description</label>
                                            <textarea id="thursday_description" name="thursday_description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="thursday_hours">Number of Hours</label>
                                            <input type="number" id="thursday_hours" name="thursday_hours" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="friday_date">Date</label>
                                            <input type="date" id="friday_date" name="friday_date" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="friday_description">Description</label>
                                            <textarea id="friday_description" name="friday_description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="friday_hours">Number of Hours</label>
                                            <input type="number" id="friday_hours" name="friday_hours" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="saveDraft" name="action" class="btn btn-primary mt-2">
                                Save Draft <i class="fa fa-save" aria-hidden="true" style="margin-left: 5px;"></i>
                            </button>
                            <button type="submit" name="action" value="preview_report" class="btn btn-primary mt-2">
                                Preview Report <i class="fa fa-eye" aria-hidden="true" style="margin-left: 5px;"></i>
                            </button>
                            <button type="submit" name="action" value="submit_report" class="btn btn-primary mt-2">
                                Submit Report <i class="fa fa-paper-plane" aria-hidden="true" style="margin-left: 5px;"></i>
                            </button>
                            <!-- Modal HTML -->
                            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="successModalLabel">Submission Status</h5>
                                        </div>
                                        <div class="modal-body">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <p>{{ message }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Draft Saved Modal -->
                            <div class="modal fade" id="draftSavedModal" tabindex="-1" aria-labelledby="draftSavedModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="draftSavedModalLabel">Draft Saved</h5>
                                        </div>
                                        <div class="modal-body">
                                            Your draft has been saved successfully!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function logout() {
            localStorage.removeItem('isLoggedIn'); // Clear the 'isLoggedIn' flag from localStorage
            window.location.href = '{% url 'students:logout' %}'; // Redirect to the Django logout URL
        }
        $(".navbar-toggler").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                var myModal = new bootstrap.Modal(document.getElementById('successModal'), {
                    keyboard: false
                });
                myModal.show();
            {% endif %}
        });
        // Function to get the start date of the current week (Monday)
        function getStartOfWeek() {
            const today = new Date();
            const dayOfWeek = today.getDay(); // 0 = Sunday, 1 = Monday, ..., 6 = Saturday
            const difference = today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1); // Adjust when Sunday is the first day of the week
            const startOfWeek = new Date(today.setDate(difference));
            return startOfWeek;
        }

        // Function to populate date fields for the week
        function populateDateFields() {
            const startOfWeek = getStartOfWeek();
            const dayOffsets = [0, 1, 2, 3, 4]; // Monday to Friday offsets
            dayOffsets.forEach((offset, index) => {
                const date = new Date(startOfWeek);
                date.setDate(startOfWeek.getDate() + offset);
                document.getElementById(['monday_date', 'tuesday_date', 'wednesday_date', 'thursday_date', 'friday_date'][index]).value = date.toISOString().split('T')[0];
            });
        }

        // Save draft to local storage
        function saveDraft() {
            const draft = {
                monday: {
                    date: document.getElementById('monday_date').value,
                    description: document.getElementById('monday_description').value,
                    hours: document.getElementById('monday_hours').value,
                },
                tuesday: {
                    date: document.getElementById('tuesday_date').value,
                    description: document.getElementById('tuesday_description').value,
                    hours: document.getElementById('tuesday_hours').value,
                },
                wednesday: {
                    date: document.getElementById('wednesday_date').value,
                    description: document.getElementById('wednesday_description').value,
                    hours: document.getElementById('wednesday_hours').value,
                },
                thursday: {
                    date: document.getElementById('thursday_date').value,
                    description: document.getElementById('thursday_description').value,
                    hours: document.getElementById('thursday_hours').value,
                },
                friday: {
                    date: document.getElementById('friday_date').value,
                    description: document.getElementById('friday_description').value,
                    hours: document.getElementById('friday_hours').value,
                }
            };
            // Show the draft saved modal
            var draftSavedModal = new bootstrap.Modal(document.getElementById('draftSavedModal'));
            draftSavedModal.show();
        }

        // Load draft from local storage
        function loadDraft() {
            const savedDraft = JSON.parse(localStorage.getItem('progressReportDraft'));
            if (savedDraft) {
                Object.keys(savedDraft).forEach(day => {
                    document.getElementById(`${day}_date`).value = savedDraft[day].date;
                    document.getElementById(`${day}_description`).value = savedDraft[day].description;
                    document.getElementById(`${day}_hours`).value = savedDraft[day].hours;
                });
            }
        }
        // Set up event listeners
        document.getElementById('saveDraft').addEventListener('click', saveDraft);
        window.onload = () => {
            populateDateFields();
            loadDraft();
        };
    </script>
</body>
</html>
