{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main-dashboard.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Student - OJT Management System Dashboard</title>
    <style>
        .preview-box {
            border: 2px dashed #ccc;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 260px;
            width: 255px;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background-color: #f8f9fa;
        }
        .preview-box img {
            max-width: 100%;
            max-height: 100%;
        }
        .preview-box::before {
            content: 'Browse Image';
            color: #888;
            font-size: 16px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .preview-box.with-image::before {
            display: none;
        }
        input[type='file'] {
            left: 12px;
            padding: 10px;
            height: 50px;
            margin-top: -10px;
        }
        .dropdown-menu {
            width: 350px;  /* Set a max width for the dropdown */
            word-wrap: break-word;  /* Allow long words to break */
            white-space: normal;  /* Ensure text can break into multiple lines */
        }

        .dropdown-item {
            white-space: normal;
            overflow-wrap: break-word;
            display: block;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right vh-100" id="sidebar-wrapper">
            <a href="{% url 'students:dashboard' %}" style="text-decoration: none !important; color: black !important;" class="text-center">
                <div class="sidebar-heading" style="display: flex; align-items: center; justify-content: flex-start;">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo" style="width: 50px; height: 50px; margin-right: 2px;">
                    <div style="display: flex; flex-direction: column; line-height: 1; margin-top: 2px;">
                        <span style="font-size: 18px; font-weight: bold; margin-bottom: 0;" class="text-left mb-1">ON THE JOB</span>
                        <span style="font-size: 15px;">Management System</span>
                    </div>
                </div>
            </a>
            <div class="list-group list-group-flush">
                <a href="{% url 'students:dashboard' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'students:clockin' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-clock"></i> Clock In
                </a>
                <a href="{% url 'students:requirements' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tasks"></i> Requirements
                </a>
                <a href="{% url 'students:progress-report' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-chart-line"></i> Progress Report
                </a>
                <a href="{% url 'students:list-of-document' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Submitted Documents
                </a>
                <a data-toggle="modal" data-target="#logout" class="list-group-item list-group-item-action bg-light" style="cursor: pointer;">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure do want to leave this page</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <a href="{% url 'students:logout' %}" class="btn btn-primary">Logout</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>{{ firstName }} {{ lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'students:profile' %}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'students:changePassword' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'students:logout' %}">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mt-1">
                            <a class="nav-link d-flex align-items-center" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell mr-2"></i>
                                {% if unread_notifications_count > 0 %}
                                    <span class="badge badge-danger">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                                <h6 class="dropdown-header">Notifications</h6>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <form action="{% url 'students:mark_notification_as_read' notification.id %}" method="POST" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item" title="{{ notification.message }}">
                                                {{ notification.message }}
                                            </button>
                                        </form>
                                        <!-- Add a separator line -->
                                        <div class="dropdown-divider"></div> <!-- Bootstrap separator -->
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#">No new notifications</a>
                                {% endif %}
                            </div>
                        </li>      
                    </ul>
                </div> 
            </nav>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <p class="mt-3 mb-1">Home / Student Profile</p>
                        <h4 class="mt-2 mb-3">Profile</h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3 mt-3">
                                    <div id="image-preview" class="preview-box">
                                        {% if student.Image %}
                                        <img src="{{ student.Image.url }}" alt="Profile Image" style="max-width: 100%;"
                                            id="current-image">
                                        {% endif %}
                                    </div>
                                    {{ form.Image }}
                                </div>
                                <div class="col-md-8 ml-3">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-primary" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" id="Firstname" name="Firstname"
                                            value="{{ firstName }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" id="Lastname" name="Lastname"
                                            value="{{ lastName }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email" value="{{ email }}"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Course">Course</label>
                                        <input type="text" class="form-control" id="Course" name="Course" value="{{ course }}"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Year">Year</label>
                                        <input type="text" class="form-control" id="Year" name="Year" value="{{ year }}"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function logout() {
            localStorage.removeItem('isLoggedIn');
            window.location.href = '/logout/';
        }
        document.addEventListener("DOMContentLoaded", function() {
            var imageInput = document.getElementById('id_Image');
            if (imageInput) {
                imageInput.classList.add('form-control', 'form-control-sm');
            }
        });
        
        $(".navbar-toggler").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(document).ready(function() {
            // Function to update the preview box state
            function updatePreviewBox() {
                if ($('#current-image').length) {
                    $('#image-preview').addClass('with-image');
                } else {
                    $('#image-preview').removeClass('with-image');
                }
            }
            // Initial update on page load
            updatePreviewBox();
            // Handle file input change event
            $("input[type='file']").change(function(e) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    $('#image-preview').html('<img src="' + e.target.result + '" style="max-width: 100%;" alt="New Image Preview" id="current-image">');
                    updatePreviewBox();
                }
                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>
</body>
</html>