{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>OJT Management System - Login Page</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-custom-navy {
            background-color: #000066;
            color: white;
        }
        
        .btn-custom-navy:hover {
            background-color: #000066;
            color: #fff;
        }
        .form-container {
            display: none;
            margin-top: 20px;
        }
        .form-container.active {
            display: block;
        }
        .navbar-brand {
            display: flex;
            align-items: center;
        }
        .navbar-brand img {
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }
        .navbar-brand p {
            margin: 0;
            margin-left: -10px;
            color: darkblue;
            font-size: 1.15rem;
        }
        .outer-container {
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-top: 10px;
            border-radius: 6px;
        }
        #footerMain{
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }     
        /* Style for the navbar */
        .navbar {
            transition: background-color 0.3s ease;
            z-index: 1000;
        }
        
        /* Default background color when at the top */
        .navbar-scroll {
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .scrolled {
            background-color: rgba(0, 0, 0, 0.9);
        }
        body {
            padding-top: 70px;
        }
        @media (max-width: 900px) {
            .custom-hide-image {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="container mt-5 d-flex justify-content-center align-items-center">
        <div id="button-container" class="justify-content-center align-items-center text-center mt-4">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'homepage:login-page' %}">
                <img src="{% static 'img/Logo.png' %}" 
                     alt="Logo" 
                     class="logo-img"
                     style="width: 50px; height: 50px;">
                <span style="margin-left: -7px; font-weight: 600; color: #6900ff;">On the Job Training Management System</span>
            </a>
            <h5 class="mb-4 mt-0 text-secondary" style="font-weight: 700;">College of Communication & <br> Information Technology</h5>
            <div class="d-flex flex-column align-items-center">
                <button class="btn btn-custom-navy btn-lg mb-3" style="padding: 8px; font-size: 1.5rem; width: 230px; font-weight: 600; border-radius: 26px;" onclick="showForm('coordinator')">Coordinator</button>
                <button class="btn btn-custom-navy btn-lg mb-3" style="padding: 8px; font-size: 1.5rem; width: 230px; font-weight: 600; border-radius: 26px;" onclick="showForm('student')">Student</button>
            </div>
        </div>                              
        <!-- Student Login Form -->
        <div id="student-form" class="form-container mt-0" style="width: 80%; max-width: 600px;">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="justify-content-center align-items-center text-center mt-4">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'homepage:login-page' %}">
                        <img src="{% static 'img/Logo.png' %}" 
                             alt="Logo" 
                             class="logo-img"
                             style="width: 50px; height: 50px;">
                        <span style="margin-left: -7px; font-weight: 600; color: #6900ff;">On the Job Training Management System</span>
                    </a>
                    <h3 class="mb-3 mt-0 text-secondary" style="font-weight: 600;">Student Login</h3>
                </div>
            </div>
            <form id="student-login-form" action="/students/login/" method="POST" class="w-50 mx-auto">
                {% csrf_token %}
                <div id="student-error-message" class="alert alert-danger" style="display: none;"></div> <!-- Error message here -->          
                <div class="form-group">
                    <label for="student-username" class="text-secondary" style="font-weight: 500; font-size: 18px;">Username:</label>
                    <input type="text" class="form-control" id="student-username" name="Username" placeholder="Enter your username....." required>
                </div>   
                <div class="form-group">
                    <label for="student-password" class="text-secondary" style="font-weight: 500; font-size: 18px;">Password:</label>
                    <input type="password" class="form-control" id="student-password" name="Password" placeholder="Enter your password....." required>
                </div>           
                <div class="mb-2">
                    <a href="{% url 'homepage:forgot_password' %}">Forgot Password?</a>
                </div>        
                <div class="d-flex justify-content-between mt-2">
                    <a type="click" onclick="goBack()" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="mt-3 text-center">
                    <a href="{% url 'homepage:student-register' %}" class="text-secondary" style="font-size: 14px; text-decoration: none; font-weight: 500;">Don’t have an account? Register now!</a>
                </div>                   
            </form>  
        </div>
        <!-- Coordinator Login Form -->
        <div id="coordinator-form" class="form-container mt-0" style="width: 80%; max-width: 600px;">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="justify-content-center align-items-center text-center mt-4">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'homepage:login-page' %}">
                        <img src="{% static 'img/Logo.png' %}" 
                             alt="Logo" 
                             class="logo-img"
                             style="width: 50px; height: 50px;">
                        <span style="margin-left: -7px; font-weight: 600; color: #6900ff;">On the Job Training Management System</span>
                    </a>
                    <h3 class="mb-3 mt-0 text-secondary" style="font-weight: 600;">Coordinator Login</h3>
                </div>
            </div>
            <form id="coordinator-login-form" action="/coordinator/login/" method="POST" class="w-50 mx-auto mt-2">
                {% csrf_token %}
                <div id="coordinator-error-message" class="alert alert-danger" style="display: none;"></div> <!-- Error message here -->
                <div class="form-group">
                    <label for="coordinator-username" class="text-secondary" style="font-weight: 500; font-size: 18px;">Username:</label>
                    <input type="text" class="form-control" id="coordinator-username" name="username" placeholder="Enter your username....." required>
                </div>
                <div class="form-group">
                    <label for="coordinator-password" class="text-secondary" style="font-weight: 500; font-size: 18px;">Password:</label>
                    <input type="password" class="form-control" id="coordinator-password" name="password" placeholder="Enter your password....." required>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <a type="click" onclick="goBack()" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script>
        $(".navbar-toggler").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        window.onload = function() {
            // Preventing back button navigation loop
            if (window.history.length > 1) {
                window.history.pushState(null, document.title, window.location.href);
                window.addEventListener('popstate', function(event) {
                    // Handle back button behavior appropriately
                    window.history.pushState(null, document.title, window.location.href);
                });
            }
        }
        function showForm(type) {
            document.getElementById('button-container').style.display = 'none';

            document.getElementById('student-form').classList.remove('active');
            document.getElementById('coordinator-form').classList.remove('active');
            {% comment %} document.getElementById('student-register-page').classList.remove('active'); {% endcomment %}
            if (type === 'student') {
                document.getElementById('student-form').classList.add('active');
            } else if (type === 'coordinator') {
                document.getElementById('coordinator-form').classList.add('active');
            }
        }
        function goBack() {
            document.getElementById('student-form').classList.remove('active');
            document.getElementById('coordinator-form').classList.remove('active');
            document.getElementById('button-container').style.display = 'block';
            // Clear error messages
            document.getElementById('student-error-message').style.display = 'none';
            document.getElementById('coordinator-error-message').style.display = 'none';
        }
        
        // Handling form submissions with AJAX
        document.getElementById('student-login-form').onsubmit = function(e) {
            e.preventDefault(); // Iwasan ang default na pag-submit ng form

            const formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            }).then(response => response.json()).then(data => {
                if (data.error) {
                    document.getElementById('student-error-message').innerText = data.error;
                    document.getElementById('student-error-message').style.display = 'block'; // Ipakita ang error message
                } else if (data.redirect_url) {
                    window.location.href = data.redirect_url; // I-redirect ang user
                }
            }).catch(error => console.error('Error:', error));
        };

        document.getElementById('coordinator-login-form').onsubmit = function(e) {
            e.preventDefault(); // Iwasan ang default na pag-submit ng form

            const formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            }).then(response => response.json()).then(data => {
                if (data.error) {
                    document.getElementById('coordinator-error-message').innerText = data.error;
                    document.getElementById('coordinator-error-message').style.display = 'block'; // Ipakita ang error message
                } else if (data.redirect_url) {
                    window.location.href = data.redirect_url; // I-redirect ang user
                }
            }).catch(error => console.error('Error:', error));
        };
    </script>
</body>
</html>
