{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main-dashboard.css' %}">
    <title>Super Admin - OJT Management System Dashboard</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right vh-100" id="sidebar-wrapper">
            <a href="{% url 'superapp:superAdminDashboard' %}" style="text-decoration: none !important; color: black !important;"><div class="sidebar-heading">OJT Management System</div></a>
            <div class="list-group list-group-flush">
                <a href="{% url 'superapp:mainDashboard' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'superapp:getAllTheListAnnouncement' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-bullhorn"></i> Announcement
                </a>
                <a href="{% url 'superapp:studentManagement' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-user-graduate"></i> Manage Student
                </a>
                <a href="{% url 'superapp:getActivityLogs' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-clock"></i> Activity Logs
                </a>
                <a href="{% url 'superapp:getAllTheUserAccount' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-solid fa-user"></i> Users
                </a>
                <a href="{% url 'superapp:set_rendering_hours' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-cogs"></i> Settings
                </a>
                <a href="{% url 'superapp:loggingOut' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>{{ firstName }} {{ lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'superapp:editUserProfile' %}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'superapp:loggingOut' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Card -->
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <p class="mt-3 mb-1">Home / Activity Log</p>
                        <h3 class="mt-2 mb-2">Activity Log</h3>
                    </div>
                    <!-- Date Filter -->
                    <div class="col-lg-12 d-flex justify-content-end align-items-center mb-3">
                        <!-- Date Filter Buttons -->
                        <div class="btn-group btn-group-toggle mr-3" data-toggle="buttons">
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="today" autocomplete="off"> Today
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="yesterday" autocomplete="off"> Yesterday
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="week" autocomplete="off"> Week
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="month" autocomplete="off"> Month
                            </label>
                        </div>
                        <!-- Start Date and End Date Inputs -->
                        <div class="form-inline">
                            <div class="form-group mr-1">
                                <label for="start-date" class="sr-only">Start Date</label>
                                <input type="date" class="form-control" id="start-date" placeholder="Start Date">
                            </div>
                            <div class="form-group mr-1">
                                <label for="end-date" class="sr-only">End Date</label>
                                <input type="date" class="form-control" id="end-date" placeholder="End Date">
                            </div>
                            <button type="button" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3 mt-3">
                    <form class="form-inline" method="get" action="{% url 'superapp:getActivityLogs' %}">
                        <div class="input-group">
                            <input type="search" name="search" class="form-control" placeholder="Search....." aria-label="Search" aria-describedby="search-icon" id="search-input">
                            <div class="input-group-prepend" style="cursor: pointer;">
                                <span class="input-group-text" id="search-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Role</th>
                            <th>Action</th>
                            <th>Last Login</th>
                            <th>Description</th>
                            <th>IP Address</th>
                        </tr>
                    </thead>
                    <tbody id="activity-log-list">
                        {% for logs in getActivityLogs %}
                        <tr>
                            <td style="text-transform: uppercase;">{{ logs.first_name }}</td>
                            <td style="text-transform: uppercase;">{{ logs.last_name }}</td>
                            <td style="text-transform: uppercase;">{{ logs.position }}</td>
                            <td style="text-transform: uppercase;">{{ logs.action }}</td>
                            <td>{{ logs.timestamp }}</td>
                            <td>{{ logs.description }}</td>
                            <td>{{ logs.ip_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <!-- Items per Page Selector -->
                    <div class="form-group">
                        <label for="perPage" class="form-label mr-2">Items per page:</label>
                        <select id="perPage" class="form-control w-auto" onchange="updatePerPage(this.value)">
                            <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                            <option value="30" {% if per_page == 30 %}selected{% endif %}>30</option>
                            <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                    <!-- Pagination Links -->
                    <ul class="pagination">
                        {% if getActivityLogs.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ getActivityLogs.previous_page_number }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
            
                        {% for num in getActivityLogs.paginator.page_range %}
                            {% if getActivityLogs.number == num %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}&per_page={{ per_page }}&search={{ request.GET.search }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
            
                        {% if getActivityLogs.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ getActivityLogs.next_page_number }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ getActivityLogs.paginator.num_pages }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script>
        $(".navbar-toggler").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        document.getElementById('search-input').addEventListener('input', function() {
            const searchValue = this.value;
    
            fetch(`{% url 'superapp:getActivityLogs' %}?search=${searchValue}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => response.text())
            .then(html => {
                // Parse the response and update the table
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newTbody = doc.getElementById('activity-log-list');
                document.getElementById('activity-log-list').innerHTML = newTbody.innerHTML;
            })
            .catch(error => console.error('Error:', error));
        });
        function updatePerPage(value) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('per_page', value);
            window.location.search = urlParams.toString();
        }
    </script>
</body>
</html>
