{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Coordinator - OJT Management System Dashboard</title>
    <style>
        #wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #sidebar-wrapper {
            min-width: 250px;
            max-width: 250px;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
        }

        #page-content-wrapper {
            width: 100%;
        }

        .sidebar-heading {
            padding: 1rem;
            font-size: 1.2rem;
            text-align: center;
        }

        .list-group-item {
            padding: 1rem;
        }

        .navbar {
            margin-bottom: 0;
        }

        @media (max-width: 768px) {
            #sidebar-wrapper {
                display: none;
            }

            #wrapper.toggled #sidebar-wrapper {
                display: block;
                position: absolute;
                z-index: 1000;
                width: 100%;
            }

            .navbar-toggler {
                display: block;
            }
        }
    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <a href="{% url 'mainDashboard' %}" style="text-decoration: none !important; color: black !important;" class="text-center">
                <div class="sidebar-heading" style="display: flex; align-items: center; justify-content: flex-start;">
                    <!-- Logo on the left side -->
                    <img src="{% static 'img/Logo.png' %}" alt="Logo" style="width: 50px; height: 50px; margin-right: 2px;">
                    <div style="display: flex; flex-direction: column; line-height: 1; margin-top: 2px;">
                        <span style="font-size: 18px; font-weight: 500; margin-bottom: 0;" class="text-left mb-1">On the Job</span>
                        <span style="font-size: 15px;">Management System</span>
                    </div>
                </div>
            </a>
            <div class="list-group list-group-flush">
                <a href="{% url 'mainDashboard' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'listOfAnnouncement' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-bullhorn"></i> Announcement
                </a>
                <a href="{% url 'all-content' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-solid fa-cube"></i> Content
                </a>
                <a href="{% url 'submission' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-upload"></i> Submissions
                </a>
                <a href="{% url 'grading' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-solid fa-ranking-star"></i> Grading
                </a>
                <a href="{% url 'set_rendering_hours' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-cogs"></i> Settings
                </a>
                <a data-toggle="modal" data-target="#logout" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure do want to leave this page</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <a href="javascript:void(0);" onclick="logout()" class="btn btn-primary">Logout</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>{{ firstName }} {{ lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'changePass' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logout">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mt-1">
                            <a class="nav-link d-flex align-items-center" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell mr-2"></i>
                                {% if unread_notifications_count > 0 %}
                                    <span class="badge badge-danger">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                                <h6 class="dropdown-header">Notifications</h6>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <form action="{% url 'students:mark_notification_as_read' notification.id %}" method="POST" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item" title="{{ notification.message }}">
                                                {{ notification.message }}
                                            </button>
                                        </form>
                                        <!-- Add a separator line -->
                                        <div class="dropdown-divider"></div> <!-- Bootstrap separator -->
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#">No new notifications</a>
                                {% endif %}
                            </div>
                        </li>  
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row p-2">
                    <div class="col-lg-12">
                        <p class="mt-1 mb-1">
                            <a href="{% url 'mainDashboard' %}" style="cursor: pointer; text-decoration: none; color: black;">Home</a> / Grading Students
                        </p>
                        <h4 class="mt-3 mb-2">
                            <span style="font-weight: 400;">List of students</span>
                        </h4>
                    </div>
                    <!-- Date Filter -->
                    <div class="col-lg-12 d-flex justify-content-end align-items-center mb-3">
                        <!-- Date Filter Buttons -->
                        <div class="btn-group btn-group-toggle mr-3" data-toggle="buttons">
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="today" autocomplete="off" checked> Today
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="yesterday" autocomplete="off"> Yesterday
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="week" autocomplete="off"> Week
                            </label>
                        </div>
                        <!-- Start Date and End Date Inputs -->
                        <div class="form-inline">
                            <div class="form-group mr-1">
                                <label for="start-date" class="sr-only">Start Date</label>
                                <input type="date" class="form-control" id="start-date" placeholder="Start Date">
                            </div>
                            <div class="form-group mr-1">
                                <label for="end-date" class="sr-only">End Date</label>
                                <input type="date" class="form-control" id="end-date" placeholder="End Date">
                            </div>
                            <button type="button" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3 mt-3">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="search" name="search" class="form-control" placeholder="Search....." aria-label="Search" aria-describedby="search-icon" id="search-input">
                                <div class="input-group-prepend" style="cursor: pointer;">
                                    <span class="input-group-text" id="search-icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student No.</th>
                                <th>Firstname</th>
                                <th>Middlename</th>
                                <th>Lastname</th>
                                <th>Course & Year</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="announcementList">
                            {% for student in listOfStudents %}
                            <tr>
                                <td>{{ student.StudentID }}</td>
                                <td style="text-transform: capitalize;">{{ student.Firstname }}</td>
                                <td style="text-transform: capitalize;">{{ student.Middlename }}</td>
                                <td style="text-transform: capitalize;">{{ student.Lastname }}</td>
                                <td style="text-transform: capitalize;">{{ student.Course }} & {{ student.Year }}</td>
                                <td>
                                    <a href="{% url 'gradeCalculator' student.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination Controls for List of Students -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <!-- Items per Page Selector -->
                    <div class="form-group">
                        <label for="perPage" class="form-label mr-2">Items per page:</label>
                        <select id="perPage" class="form-control w-auto" onchange="updatePerPage(this.value)">
                            <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                            <option value="30" {% if per_page == 30 %}selected{% endif %}>30</option>
                            <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                
                    <!-- Pagination Links -->
                    <ul class="pagination">
                        {% if listOfStudents.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listOfStudents.previous_page_number }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                
                        {% if pagination_range %}
                            {% if pagination_range|length > 0 and pagination_range|first > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1&per_page={{ per_page }}&search={{ request.GET.search }}">1</a>
                                </li>
                                <li class="page-item"><span class="page-link">...</span></li>
                            {% endif %}
                
                            {% for num in pagination_range %}
                                {% if listOfStudents.number == num %}
                                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}&per_page={{ per_page }}&search={{ request.GET.search }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                
                            {% if pagination_range|last < total_pages %}
                                <li class="page-item"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="?page={{ total_pages }}&per_page={{ per_page }}&search={{ request.GET.search }}">{{ total_pages }}</a></li>
                            {% endif %}
                        {% endif %}
                
                        {% if listOfStudents.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listOfStudents.next_page_number }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ listOfStudents.paginator.num_pages }}&per_page={{ per_page }}&search={{ request.GET.search }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>                         
                </div>
            </div>      
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function logout() {
            localStorage.removeItem('is_coordinator_logged_in');
            window.location.href = '{% url 'logout' %}';
        }
        document.getElementById('courseFilter').addEventListener('change', function() {
            var selectedCourse = this.value;
            var rows = document.querySelectorAll('#studentTableBody tr');
            rows.forEach(function(row) {
                if (selectedCourse === 'all' || row.getAttribute('data-course') === selectedCourse) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
