{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main-dashboard.css' %}">
    <title>Coordinator - OJT Management System Dashboard</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right vh-230" id="sidebar-wrapper">
            <a href="{% url 'dashboard' %}" style="text-decoration: none !important; color: black !important;" class="text-center">
                <div class="sidebar-heading" style="display: flex; align-items: center; justify-content: flex-start;">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo" style="width: 50px; height: 50px; margin-right: 2px;">
                    <div style="display: flex; flex-direction: column; line-height: 1; margin-top: 2px;">
                        <span style="font-size: 18px; font-weight: 500; margin-bottom: 0;" class="text-left mb-1">On the Job</span>
                        <span style="font-size: 15px;">Management System</span>
                    </div>
                </div>
            </a>                                 
            <div class="list-group list-group-flush">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'listOfAnnouncement' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-bullhorn"></i> Announcement
                </a>
                <a href="{% url 'all-content' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-solid fa-cube"></i> Content
                </a>
                <a href="{% url 'submission' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-upload"></i> Submissions
                </a>
                <a href="{% url 'student-list' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-sharp-duotone fa-solid fa-list"></i> Student List
                </a>
                <a href="{% url 'grading' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa-solid fa-ranking-star"></i> Grading
                </a>
                <a href="{% url 'set_rendering_hours' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-cogs"></i> Settings
                </a>
                <a data-toggle="modal" data-target="#logout" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure do want to leave this page</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <a href="javascript:void(0);" onclick="logout()" class="btn btn-primary">Logout</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>{{ firstName }} {{ lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'changePass' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logout">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mt-1">
                            <a class="nav-link d-flex align-items-center" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell mr-2"></i>
                                {% if unread_notifications_count > 0 %}
                                    <span class="badge badge-danger">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                                <h6 class="dropdown-header">Notifications</h6>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <form action="{% url 'students:mark_notification_as_read' notification.id %}" method="POST" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item" title="{{ notification.message }}">
                                                {{ notification.message }}
                                            </button>
                                        </form>
                                        <!-- Add a separator line -->
                                        <div class="dropdown-divider"></div> <!-- Bootstrap separator -->
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item" href="#">No new notifications</a>
                                {% endif %}
                            </div>
                        </li>  
                    </ul>
                </div>
            </nav>
            <!-- Dashboard Container -->
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <h3 class="mt-4 mb-2">Dashboard</h3>
                    </div>
                    <!-- Date Filter Section -->
                    <div class="col-lg-12 d-flex justify-content-end align-items-center mb-3">
                        <div class="btn-group btn-group-toggle mr-3" data-toggle="buttons">
                            <label class="btn btn-light border rounded mr-1 active">
                                <input type="radio" name="dateFilter" id="today" autocomplete="off" checked> Today
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="yesterday" autocomplete="off"> Yesterday
                            </label>
                            <label class="btn btn-light border rounded mr-1">
                                <input type="radio" name="dateFilter" id="week" autocomplete="off"> Week
                            </label>
                        </div>
                        <div class="form-inline">
                            <div class="form-group mr-1">
                                <label for="start-date" class="sr-only">Start Date</label>
                                <input type="date" class="form-control" id="start-date" placeholder="Start Date">
                            </div>
                            <div class="form-group mr-1">
                                <label for="end-date" class="sr-only">End Date</label>
                                <input type="date" class="form-control" id="end-date" placeholder="End Date">
                            </div>
                            <button type="button" class="btn btn-primary" id="filterButton">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-3">
                        <a id="approved-link" href="{% url 'approve-student-list' %}" style="text-decoration: none;">
                            <div class="card text-white" style="background-color: #2E8B57;"> <!-- Dark Green -->
                                <div class="card-body">
                                    <i class="fas fa-check-circle icon"></i>
                                    <div>
                                        <div class="count approved">{{ approve_count }}</div>
                                        <div>Approved</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a id="pending-link" href="{% url 'pending-student-list' %}" style="text-decoration: none;">
                            <div class="card text-white" style="background-color: #FFA500;"> <!-- Amber/Orange -->
                                <div class="card-body">
                                    <i class="fas fa-hourglass-half icon"></i>
                                    <div>
                                        <div class="count pending">{{ pending_count }}</div>
                                        <div>Pending Registration</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a id="rejected-link" href="{% url 'reject-student-list' %}" style="text-decoration: none;">
                            <div class="card text-white" style="background-color: #DC143C;"> <!-- Red -->
                                <div class="card-body">
                                    <i class="fas fa-close icon"></i>
                                    <div>
                                        <div class="count rejected">{{ reject_count }}</div>
                                        <div>Disapprove Registration</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a id="submitted-link" href="{% url 'student-submitted-list' %}" style="text-decoration: none;">
                            <div class="card text-white flex-fill" style="background-color: #4682B4;"> <!-- Soft Blue -->
                                <div class="card-body">
                                    <i class="fas fa-file-upload icon"></i>
                                    <div>
                                        <div class="count requirements">
                                            {{ submitted_students_count  }}
                                        </div>
                                        <div>Submitted Requiremnt</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <div class="card-header">
                        <h6 class="m-0" style="font-size: 15px;">Total of Student's by Program</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-6">
                            <a id="bs-it" href="{% url 'information-technology-list' %}" style="text-decoration: none;">
                                <div class="card text-white flex-fill" style="background-color: #6A5ACD;"> <!-- Slate Blue -->
                                    <div class="card-body">
                                        <i class="fas fa-user-graduate icon"></i>
                                        <div>
                                            <div class="count">{{ total_course_it }}</div>
                                            <div>Bachelor of Science in Information Technology</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a id="bs-cs" href="{% url 'computer-science-list' %}" style="text-decoration: none;">
                                <div class="card text-white flex-fill" style="background-color: #708090;"> <!-- Slate Grey -->
                                    <div class="card-body">
                                        <i class="fas fa-user-graduate icon"></i>
                                        <div>
                                            <div class="count">{{ total_course_cs }}</div>
                                            <div>Bachelor of Science in Computer Science</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script>
        const mainDashboardUrl = "{% url 'dashboard' %}";  
        $(".navbar-toggler").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });    
        document.addEventListener('DOMContentLoaded', () => {
            initDashboardFilters();
            setupCustomDateFilter();
            preventBackNavigationLoop();
            setupLogout();
        });
        // Initializes the default filter and sets up event listeners for predefined filters
        function initDashboardFilters() {
            console.log("Initializing dashboard filters.");
            setDefaultFilter('today');
            // Add event listeners to the predefined filter buttons (Today, Yesterday, Week)
            const filterButtons = document.querySelectorAll('input[name="dateFilter"]');
            console.log(`Found ${filterButtons.length} filter buttons.`);
            filterButtons.forEach((button) => {
                console.log(`Setting up event listener for button with ID: ${button.id}`);
                button.addEventListener('change', handleDateFilterChange); // Listen for change events
            });
            // Add click listeners to the labels for better handling of Bootstrap's styling
            const filterLabels = document.querySelectorAll('.btn-group-toggle .btn');
            filterLabels.forEach((label) => {
                label.addEventListener('click', () => {
                    const input = label.querySelector('input[name="dateFilter"]');
                    if (input) {
                        input.checked = true; // Set the radio button as checked
                        updateCounts(input.id); // Call updateCounts with the selected filter
                        console.log(`Filter manually set to: ${input.id} on click`);
                    }
                });
            });
        }
        // Sets up the custom date range filter functionality
        function setupCustomDateFilter() {
            const filterButton = document.getElementById('filterButton');
            filterButton.addEventListener('click', (event) => {
                event.preventDefault();
                const startDate = document.getElementById('start-date').value;
                const endDate = document.getElementById('end-date').value;
                if (startDate && endDate) {
                    console.log(`Filtering by custom date range: Start Date = ${startDate}, End Date = ${endDate}`);
                    updateCounts('custom', startDate, endDate);
                } else {
                    console.warn('Both start date and end date must be selected for the custom filter.');
                }
            });
        }   
        // Sets the default filter to the specified value and updates the counts
        function setDefaultFilter(filterType) {
            document.getElementById(filterType).checked = true;
            updateCounts(filterType);
        }
        // Handles the date filter button change event
        function handleDateFilterChange(event) {
            const selectedFilter = event.target.id;
            console.log(`Date filter selected: ${selectedFilter}`);
            updateCounts(selectedFilter);
        }
        // Prevents back button navigation from causing unnecessary reload loops
        function preventBackNavigationLoop() {
            if (window.history.length > 1) {
                window.history.pushState(null, document.title, window.location.href);
                window.addEventListener('popstate', () => {
                    window.history.pushState(null, document.title, window.location.href);
                });
            }
        }
        // Sends an AJAX request to update the counts based on the selected filter
        function updateCounts(filterType, startDate = null, endDate = null) {
            let url = `${mainDashboardUrl}?filterType=${filterType}`;
            if (startDate && endDate) {
                url += `&startDate=${startDate}&endDate=${endDate}`;
            }
            console.log(`Fetching data from URL: ${url}`);
    
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                updateDashboardCounts(data);
                updateCardLinks(filterType, startDate, endDate);
            })
            .catch(error => console.error('Error fetching data:', error));
        }
        // Updates the dashboard counts displayed on the UI
        function updateDashboardCounts(data) {
            document.querySelector('.count.approved').textContent = data.approve_count;
            document.querySelector('.count.pending').textContent = data.pending_count;
            document.querySelector('.count.rejected').textContent = data.reject_count;
            document.querySelector('.count.requirements').textContent = data.submitted_students_count ;
        }
        // Updates the card links based on the filter selected
        function updateCardLinks(filterType, startDate = null, endDate = null) {
            let filterParam = `filterType=${filterType}`;
            if (startDate && endDate) {
                filterParam += `&startDate=${startDate}&endDate=${endDate}`;
            }
            const approvedLink = document.getElementById('approved-link');
            const pendingLink = document.getElementById('pending-link');
            const rejectedLink = document.getElementById('rejected-link');
            const submittedLink = document.getElementById('submitted-link');
    
            if (approvedLink) {
                approvedLink.href = "{% url 'approve-student-list' %}?" + filterParam;
            } else {
                console.error('Approved link not found!');
            }     
            if (pendingLink) {
                pendingLink.href = "{% url 'pending-student-list' %}?" + filterParam;
            } else {
                console.error('Pending link not found!');
            }
            if (rejectedLink) {
                rejectedLink.href = "{% url 'reject-student-list' %}?" + filterParam;
            }else {
                console.error('Rejected link not found!');
            }
            if (submittedLink) {
                submittedLink.href = "{% url 'student-submitted-list' %}?" + filterParam;
            }else {
                console.error('No student submitted found!');
            }
        }
        // Sets up the logout functionality
        function setupLogout() {
            const logoutButton = document.querySelector('#logoutButton'); // Assuming you have a logout button in the DOM
    
            if (logoutButton) {
                logoutButton.addEventListener('click', logout);
            }
        }
        // Clears local storage and redirects to the logout URL
        function logout() {
            localStorage.removeItem('is_coordinator_logged_in');
            window.location.href = '{% url 'logout' %}';
        }
    </script>
</body>
</html>
